@charset "utf-8";

/* body */
body {
    background: #34488f;
    font-family: 'Nanum Gothic', sans-serif;
    transition: .5s ease-in-out;
}
.scroll {

}
/* container */
.container {
    width: 100%;
    margin: 0 auto;
}

/* load */
body.before-load {
    overflow: hidden;
    background: #000;
}

body.start {
    overflow: hidden;
}

body.scroll #main_title {
    position: fixed;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    z-index: 100;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.loading_bg {
    position: relative;
    overflow: hidden;
    width: 200px; height: 200px;
    background: #71a299;
    border-radius: 50%;
}
.loading_img {
    position: absolute;
    width: 200px; height: 200px;
    background: url(../img/loading.png) no-repeat ;
    background-size: cover;
    border-radius: 50%;
    z-index: 2;
}
.loading_moon {
    position: absolute;
    width: 50%; height: 50%;
    top: 160px; left: 0%;
    transform: translate(50%,0);
    background: url(../img/loading_moon.png) no-repeat ;
    background-size: cover;
    z-index: 1;
}
.loading_text{
    position: absolute;
    top: 63%; left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
/* .load {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: .5s ease-in-out;
    z-index: 1000;
}

.loading-circle {
    width: 54px;
    height: 54px;
    animation: spinCircle 3s infinite;
}

.loading-circle circle {
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 157;
    stroke-dashoffset: 0;
    fill: transparent;
    animation: loadingCircle 1s infinite;
} */

@keyframes spinCircle {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingCircle {
    0% {
        stroke-dashoffset: 157;
    }

    80% {
        stroke-dashoffset: -147;
    }

    100% {
        stroke-dashoffset: -157;
    }
}

.before-load .loading {
    opacity: 1;
}

.before-load .container {
    display: none;
}

/* 레이아웃 */
#header {
    position: fixed;
    width: 100%;
    height: 75px;
    backdrop-filter: saturate(100%) blur(5px);
    z-index: 9999;
}

#header::before {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 75px;
    background: #fff;
    opacity: 0.1;
    z-index: -1;
}

#main_title {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    /* background-image: linear-gradient(to top, #8edccd 8%,#d5eadb 45%);  */
    background: #8edccd;
    z-index: 7;
}

#about {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    background: #8edccd;
    transition: all .5s ease-in-out;
    z-index: 7;
}

#skil {
    position: relative;
    overflow: hidden;
    top: 0;
    height: 100vh;
    z-index: 6;
}

#work {
    position: relative;
    overflow: hidden;
    padding: 150px 0 0 0;
    z-index: 6;
    box-sizing: border-box;
}

.skil_bg {
    position: absolute;
    /* top: 309vh; */
    background: url(../img/gradient_bg.png), #8edccd;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 5;
    transition: background-color .5s ease-in-out;
}

.work_bg {
    position: absolute;
    /* top: 409vh; */
    background: #4481a7;
    width: 100%;
    height: 320vh;
    transition: all .5s ease-in-out;
    z-index: 5;
}

.work_bg:before {
    position: absolute;
    content: '';
    bottom: -185vh;
    left: 0;
    width: 100%;
    height: 185vh;
    background-image: linear-gradient(#4481a7, 30%, #34488f);
}

#animation {
    position: relative;
    width: 100%;
    z-index: 6;
}

.animation {
    position: absolute;
    top: 867vh;
    width: 100%;
    height: 100vh;
    background: #34488f;
}

.animation_bg.active {
    position: fixed;
    bottom: 0;
    top: 0;
}

#script {
    position: relative;
    z-index: 6;
}
#contact {
    position: relative;
    padding: 100px 0;
    z-index: 7;
}
footer {
    position: relative;
    z-index: 8;
}

/* nav */
.nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    z-index: 999;
}

.nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.nav ul li a.active {
    color: #ffee00;
    font-weight: bold;
}

.nav ul li a.active::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 100%;
    height: 15%;
    background: #fff;
}

.nav ul li a:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 15%;
    background: #FFF;
    transition: all .3s ease-in-out;
}

.nav ul li a:hover:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 100%;
    height: 15%;
    background: #fff;
}

.nav ul li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease-in-out;
}

.nav ul li a:hover {
    color: #ffee00;
    font-weight: bold;
}

.nav ul li:last-child {
    margin-right: 0;
}

/* mNav */
#mNav {
    display: none;
}

#mNav .mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 29px;
    padding: 22px 30px 22px 20px;
    transition: .3s;
    z-index: 999;
}

#mNav .mobile span {
    position: relative;
    display: block;
    width: 44px;
    height: 5px;
    background: #000;
}

#mNav .mobile span::before {
    position: absolute;
    content: '';
    top: 23px;
    width: 44px;
    height: 5px;
    background: #000;
}

#mNav .mobile span::after {
    position: absolute;
    content: '';
    top: 11px;
    width: 44px;
    height: 5px;
    background: #000;
}

/* mNav Menu */
#mNav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background: #ededed;
    transition: .5s;
    z-index: 10000;
}
#mNav-menu::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1920px;
    height: 937px;
    background: #000;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    z-index: -1;
}
#mNav-menu.active::before {
    opacity: 0.7;
    visibility: visible;
}

#mNav-menu.active::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: #ededed;
    z-index: -1;
}

#mNav-menu.active {
    right: 0;
}

#mNav-menu ul {
    margin-top: 120px;
}

#mNav-menu ul li {
    margin-top: 35px;
}

#mNav-menu ul li:nth-child(1) {
    margin-top: 0;
}

#mNav-menu ul li a {
    padding: 10px;
    margin-left: 20px;
    font-size: 2.3vw;
}

.mNav-closeBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.mNav-closeBtn a {
    display: block;
    width: 45px;
    height: 45px;
}

.mNav-closeBtn a span {
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    right: 20px;
    width: 5px;
    height: 30px;
    background: #000;
}

.mNav-closeBtn a span::after {
    position: absolute;
    content: '';
    transform: rotate(90deg);
    width: 5px;
    height: 30px;
    background: #000;
}

/* section1 */
.title_ani {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #d5eadb;
    transition: .5s ease-in-out;
}

.moutain_back01 {
    position: absolute;
    display: block;
    bottom: -4px;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    z-index: 6;
}

.moutain_back02 {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: auto;
    fill: #134248;
    margin: 0 auto;
    z-index: 4;
}

.back_light01 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.08;
}

.back_light02 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.05;
}

.river {
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 68%;
    height: auto;
    z-index: 5;
}

.moon {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.moon img {
    display: flex;
    align-items: center;
    width: 40%;
    height: 40%;
}

.moutain_front01 {
    position: absolute;
    display: block;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 2;
}

.moutain_black {
    position: absolute;
    bottom: -97%;
    left: 0;
    width: 100%;
    height: 175vh;
    fill: #00181c;
    z-index: 10;
}

.bg_star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: url(../img/star_02.png) repeat-x center top;
    background-size: contain;
    z-index: 2;
}

.bg_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/bg_top.png) no-repeat center top;
    background-size: cover;
}

.sec1 {
    position: relative;
    z-index: 9;
}

.sec1 .tit {
    position: absolute;
    margin-left: 7%;
    padding-top: 155px;
    font-family: 'Playfair Display', serif;
    transition: .2s;
}

.sec1 .tit h2 {
    font-size: 84px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: 94px;
}

.sec1 .tit h2 .text_split {
    overflow: hidden;
    display: block;
    height: auto;
}

.sec1 .tit h2 em span {
    position: relative;
    display: inline-block;
    min-width: 20px;
    transform: translateY(100%);
}

/* section2 */
.sec2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    box-sizing: border-box;
}

.sec2 .left {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 700px;
}

.sec2 .left_box {
    position: absolute;
    width: 100%;
    height: 240px;
    top: 0;
    left: 0;
}

.sec2 .left_box svg {
    position: absolute;
    top: -100px;
    left: -22%;
    height: 35vh;
}

.sec2 .left_box text {
    font-size: 33px;
    letter-spacing: 18px;
    text-transform: uppercase;
}

.sec2 .left .profile {
    position: relative;
    width: 480px;
    height: 640px;
    background: #000;
    margin-right: 5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.sec2 .left .profile .profile_box {
    position: relative;
    overflow: hidden;
}

.sec2 .left .profile .profile_box img {
    height: auto;
    object-fit: cover;
}

.sec2 .right {
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 500px;
}

.sec2 .right .text {
    transform: translateX(300px);
    display: flex;
    width: 65%;
    word-break: keep-all;
    word-wrap: break-word;
    justify-content: flex-end;
    margin-left: 8%;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Nanum Myeongjo', serif;
    opacity: 0;
    transition: all .7s;
}

.sec2 .right .title {
    transform: translateX(300px);
    text-transform: uppercase;
    line-height: 5vw;
    font-size: 5vw;
    font-weight: 600;
    margin-left: 8%;
    font-family: 'Playfair Display', serif;
    color: #fff;
    opacity: 0;
    transition: all .5s;
}

.sec2 .right .title span {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    display: block;
}   

/* ocean */
#ocean {
    width: 100%;
    height: 1000vh;
    top: 0;
    position: fixed;
    z-index: 5;
}

#ocean .bubble {
    position: absolute;
    width: 100%;
    height: 10000vh;
    background: url(../img/bubble_01.png);
    animation: anibubble 600s linear infinite;
}

#ocean .mid_bubble {
    position: absolute;
    width: 100%;
    height: 10000vh;
    background: url(../img/bubble_02.png);
    animation: anibubble 1200s linear infinite;
}

#ocean .small_bubble {
    position: absolute;
    width: 100%;
    height: 10000vh;
    background: url(../img/bubble_03.png);
    animation: anibubble 1800s linear infinite;
}

@keyframes anibubble {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20000px);
    }
}

/* section3 */
.sec3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sec3 .skil_info {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.sec3 .skil_info .chart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    top: 500px;
    width: 220px;
    height: 220px;
    font-size: 22px;
    border-radius: 50%;
    opacity: 0;
}

.sec3 .skil_info .chart .circle {
    display: flex;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}

.sec3 .skil_info .chart:nth-child(2) {
    margin-top: 75px;
}

.sec3 .skil_info .chart:nth-child(3) {
    margin-right: 0;
    margin-bottom: 50px;
}

.sec3 .skil_info .chart:nth-child(4) {
    margin-top: 150px;
}

.sec3 .skil_info .chart:nth-child(5) {
    margin-top: 100px;
    margin-left: 25px;
}

.sec3 .skil_info .chart:last-child {
    margin-right: 0;
}

.sec3 .skil_info .chart span {
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.sec3 .skil_info .chart .percent {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

.sec3 .skil_info .chart .water {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0px, 100%);
    background: #1454df;
}

.sec3 .skil_info .chart .water svg {
    position: absolute;
    display: flex;
    width: 700px;
    height: 44px;
    top: -41px;
    animation: wave 1s linear infinite;
}

.sec3 .skil_info .chart .water svg path {
    position: absolute;
    top: 0;
    width: 220px;
    height: 220px;
    fill: #0f42af;
    ;
    z-index: 1;
}

.sec3 .skil_info .chart .water svg:nth-child(2) {
    animation: wave2 1s linear infinite;
    top: -40px;
}

.sec3 .skil_info .chart .water svg:nth-child(2) path {
    position: absolute;
    height: 44px;
    z-index: 2;
    fill: #1454df;
}

.sec3 .skil_info .chart:nth-of-type(1) .water {
    background: #fa5c1e;
}

.sec3 .skil_info .chart:nth-of-type(1) .water svg path {
    fill: #d44e19;
}

.sec3 .skil_info .chart:nth-of-type(1) .water svg:nth-child(2) path {
    fill: #fa5c1e;
}

.sec3 .skil_info .chart:nth-of-type(3) .water {
    background: #2e009b;
}

.sec3 .skil_info .chart:nth-of-type(3) .water svg path {
    fill: #1c005e;
}

.sec3 .skil_info .chart:nth-of-type(3) .water svg:nth-child(2) path {
    fill: #2e009b;
}

.sec3 .skil_info .chart:nth-of-type(4) .water {
    background: #ffa500
}

.sec3 .skil_info .chart:nth-of-type(4) .water svg path {
    fill: #b87700
}

.sec3 .skil_info .chart:nth-of-type(4) .water svg:nth-child(2) path {
    fill: #ffa500
}

.sec3 .skil_info .chart:nth-of-type(5) .water {
    background: #ff22bd;
}

.sec3 .skil_info .chart:nth-of-type(5) .water svg path {
    fill: #ca1b96;
}

.sec3 .skil_info .chart:nth-of-type(5) .water svg:nth-child(2) path {
    fill: #ff22bd;
}

.sec3 .skil_info .chart .bg_bubble {
    position: absolute;
    width: 220px;
    height: 220px;
    background: url(../img/bubble_chart.png) no-repeat;
    background-size: cover;
}

.sec3 .skil_info .chart .bg_bubble .bubble_wave {
    position: absolute;
    top: 0;
    width: 220px;
    height: 20px;
    background: url(../img/wave.svg) no-repeat;
    background-size: cover;
}

/* .sec3 .skil_info .chart circle {
    fill: ivory; 
    stroke-width: 20px; 
     stroke: khaki;  
     stroke-dasharray: 628;  
     stroke-dashoffset: 628; 
     animation: line 2s forwards;  
      transform: rotate(-90deg); 
      transform-origin: 50% 50%; 
      stroke-linecap: round; 
    } */
.moveup {
    animation: moveup 4s alternate infinite;
}

@keyframes wave {
    from {
        transform: translateX(-202px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes wave2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-206px);
    }
}

@keyframes moveup {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-45px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* section4 */
.sec4 {}

.sec4>h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 84px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.sec4 .site {
    padding: 200px 0;
}

.sec4 .work_wrap {
    padding-top: 100px;
}

.sec4 .work_wrap>ul {
    position: relative;
    text-align: center;
    z-index: 2;
}

.sec4 .work_wrap>ul li {
    display: inline-block;
    margin-right: 30px;
    background: #fff;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.sec4 .work_wrap>ul li:last-child {
    margin-right: 0;
}

.sec4 .work_wrap>ul li.active {
    background: #2D2BE0;
}

.sec4 .work_wrap>ul li.active a {
    color: #fff;
}

.sec4 .work_wrap>ul li a {
    display: block;
    width: 120px;
    padding: 5px 0;
    font-weight: 300;
    font-size: 18px;
}

.sec4 .work_box {
    position: relative;
    max-width: 1200px;
    height: 1000px;
    margin: 0 auto;
    z-index: 2;
}

.sec4 .work_box div {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: .3s ease-in-out;
}

.sec4 .work_box div.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.sec4 .work_box ul {
    position: relative;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    justify-items: center;
    column-gap: 20px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sec4 .work_box li {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 11px 14px #264e66;
    transition: .3s ease-in-out;
}

.sec4 .work_box li:nth-child(4n) {
    margin-right: 0;
}
.sec4 .work_box div:nth-child(2) li:nth-child(3) {
    margin-right: 0;
}
.sec4 .work_box div:nth-child(2) ul {
    grid-template-columns: 250px 250px 250px;
}
.sec4 .work_box li a {
    display: block;
    padding: 0 20px;
    box-sizing: border-box;
}

.sec4 .work_box li a img {
    width: 100%;
    padding-top: 20px;
}

.sec4 .work_box li:hover {
    background: #2D2BE0;
}

.sec4 .work_box li:hover a span {
    color: #fff;
}

.sec4 .work_box li a span {
    display: block;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    transition: .3s ease-in-out;
}

.sec4 .work_preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.9);
    transition: .3s ease-in-out;
    z-index: 3;
}

.sec4 .work_preview.active {
    opacity: 1;
    visibility: visible;
}

.sec4 .work_preview>div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: .3s ease-in-out;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
}

.sec4 .work_preview>div.active {
    opacity: 1;
    visibility: visible;
}

.sec4 .work_preview div .preview_title {}

.sec4 .work_preview div .preview_title h1 {
    font-weight: 300;
    font-size: 32px;
}

.sec4 .work_preview div .preview_title span {
    display: block;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 24px;
}

.sec4 .work_preview div .preview_title a {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    width: 130px;
    height: 50px;
    font-size: 18px;
    background: #ddd;
    border: 2px solid #000;
}

.sec4 .work_preview div .preview_text {
    margin-bottom: 100px;
}

.sec4 .work_preview div .preview_text p {
    font-size: 18px;
    line-height: 30px;
}

.sec4 .work_preview div img {
    position: absolute;
    top: 0;
    width: 100%;
}

.sec4 .work_preview div .close {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 60px;
    width: 50px;
    height: 50px;
    background: url(../img/main_close_btn.png) no-repeat center center;
}

.sec4 .work_preview .img_box {
    position: relative;
    width: 600px; height: 450px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sec4 .work_preview .img_box::-webkit-scrollbar {
    display: none;
}
/* section5 */
.sec5 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.sec5 .animation_item {
    position: relative;
    bottom: 0;
    left: 0;
    width: 400%;
    height: 100%;
}

.sec5 .animation_item .animation_tit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100vh;
    left: 0;
}

.sec5 .animation_item .animation_tit h2 {
    text-transform: uppercase;
    font-size: 84px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.sec5 .animation_item .animation_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 20%;
    margin-left: 50px;
    width: 20%;
    height: 100%;
}

.sec5 .animation_item .animation_box:nth-of-type(2) {
    left: 20%;
}

.sec5 .animation_item .animation_box:nth-of-type(3) {
    left: 40%;
}

.sec5 .animation_item .animation_box:nth-of-type(4) {
    left: 60%;
}

.sec5 .animation_item .animation_box:nth-of-type(5) {
    left: 80%;
}

.sec5 .animation_item .animation_box:nth-of-type(6) {
    left: 100%;
}

.sec5 .animation_item .animation_box .ani_img {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
    width: 100%;
    height: 100%;
    background: url(../img/submarine.svg) no-repeat center center;
    z-index: 2;
}

.sec5 .animation_item .animation_box .iframe_box {
    position: relative;
    margin-bottom: 40px;
    width: 500px;
    height: 500px;
}

.sec5 .animation_item .animation_box .iframe_box iframe {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%) scale(0.9);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sec5.active .animation_item {
    position: fixed;
}

.sec5 .animation_item .animation_box .animation_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.sec5 .animation_item .animation_box .animation_desc span {
    text-transform: capitalize;
    font-size: 18px;
}

.sec5 .animation_item .animation_box .animation_desc h2 {
    font-size: 40px;
    margin-top: 5px;
}

.sec5 .animation_item .animation_box .animation_desc p {
    margin-top: 25px;
    font-size: 22px;
}

/* section6 */
.sec6 {
    position: relative;
    z-index: 999;
}

.sec6 .sec6_tit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
}

.sec6 .sec6_tit h2 {
    text-transform: uppercase;
    font-size: 84px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.script_wrap {
    display: flex;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    padding: 0 100px;
    margin-bottom: 200px;
    box-sizing: border-box;
}

.script_box {
    position: relative;
    width: 800px;
    height: 700px;
}

.script_box iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%
}

.script_desc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    left: 0;
    width: 50%;
    color: #fff;
}

.script_desc h2 {
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.script_desc p {
    width: 70%;
    font-size: 22px;
    margin: 25px auto 0;
    line-height: 45px;
}
/* script */
.contact_infor {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}
.contact_title > h2 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.contact_title > p {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.contact_form {
    width: 50%;
    padding: 20px 30px;
    border: solid 1px #fff;
    border-radius: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
}
.contact_form input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-bottom: solid 1px #fff;
    background: none;
    box-sizing: border-box;
    outline: none;
    font-size: 24px;
    color: #fff;
}
.contact_form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    background: none;
    box-sizing: border-box;
    color: #fff;
}
.contact_form button {
    width: 100px;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
/* contact */
.copyright {
    text-align: center;
    height: 50px;
}
.copyright p {
    line-height: 50px;
    color: #fff;
    font-size: 12px;
}
/* footer */

.top_btn {
    position: fixed;
    bottom: 30px; right: 30px;
    transition: .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}
.top_btn span {
    position: relative;
    display: block;
    width: 40px; height: 40px;
    border: solid 1px #555;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
}
.top_btn span::before,
.top_btn span::after {
    position: absolute;
    content: '';
    top: 10px;
    width: 1px; height: 15px;
    background: #555;
}
.top_btn span::before {
    transform: rotate(45deg);
    left: 14px;
}
.top_btn span::after {
    transform: rotate(-45deg);
    left: 24px;
}
.show {
    opacity: 1;
    visibility: visible;
}
/* topBtn */
#ascrail2000 {
    right: -10px !important;
}
/* scroll */

.orange {
    background: url(../img/gradient_bg.png), #ffa238;
}

.blue {
    background: url(../img/gradient_bg.png), #0f42af;
}

.purple {
    background: url(../img/gradient_bg.png), #2e009b;
}

.yellow {
    background: url(../img/gradient_bg.png), #ffd900;
}

.pink {
    background: url(../img/gradient_bg.png), #ff22bd;
}
/* color */
